@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Playwrite+CU:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+DK+Uloopet:wght@100..400&display=swap');
body{
    font-family: "Oswald", sans-serif;
    background-color: #0c1633; 
}
a{
    text-decoration: none;
    color: #fff;
}
ul{
    list-style: none;
}
.nav{
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 9999;
}
.nav-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    gap: 1rem;
}
.nav-logo{
    width: 3em;
}
.nav-icon{
    /* align-self: center; */
    padding: 0.8rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.toggle{
    background-color: aqua;
}
.icon-toggle{
    cursor: pointer;
}
.nav-right{
    background-color: #202d6f;
    padding: 1rem 0;
}
.nav-right ul li a {
    cursor: pointer;
    color: #fff !important;
}
.nav-right ul li a.active{
    color: lightgrey !important ;
}
.nav-right ul li a:hover{
    color: lightgrey !important ;
}
.nav-right ul{
    text-align: center;
}
.nav-social{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.item{
    position: relative;
    overflow: hidden;
    border-radius: 5%;
    color: #fff;
    display: flex;
    align-items: center;
    transition: all 0.3s ;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
    -webkit-transition: all 0.3s ;
    -moz-transition: all 0.3s ;
    -ms-transition: all 0.3s ;
    -o-transition: all 0.3s ;
}
.ingred{
    height: 300px;
}
.ingred i {
    font-size: 3rem;
    padding: 1rem;
}
.item:hover{
    box-shadow: 0px 0px 30px lightblue;
   
}
.item:hover .img-layer{
    top: 0;
}
.img-layer{
    font-family: "Playwrite DK Uloopet", cursive;
    cursor: pointer;
    position: absolute;
    top: 160%;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: lightslategray;
    padding: 0.5rem;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}
.search-inputs{
    display: flex;
    gap: 2rem;
}
.form-floating{
    width: 50%;
    color: #fff !important;
}
.form-floating input{
    border: none;
    border-bottom: 3px solid #fff;
    background-color: transparent !important;
    color: #fff !important;
}

.details{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    background-color: #0c1633;
    color: #fff;
}
.close-btn i{
    cursor: pointer;
}
.details-buttons button{
    padding: 0.7rem !important;
    font-size: 20px;

}
.fa-brands,.fa-solid{
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}
.nav-social .fa-facebook:hover{
    color: #0866FF;
    scale: 1.1;

}
.nav-social .fa-x-twitter:hover{
    color: #202d6f;
    scale: 1.1;
}
.nav-social .fa-globe:hover{
    color: #ff0883;
    scale: 1.1;

}
.nav-social .fa-github:hover{
    /* color: #0866FF; */
    scale: 1.1;

}